@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-serif;
}

.zoom-container {
  overflow: visible;
  position: relative;
}

.zoom-container:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

::-webkit-scrollbar {
  width: 6px; /* You can adjust this value as needed */
  height: 6px; /* You can adjust this value as needed */
}
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scroll thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}
