::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 50px;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  color: orangered;
}
